/* تنظیمات عمومی */
body {
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #f0f4f8;
    color: #333;
}

.container {
    display: flex;
}

/* نوار کناری */
.sidebar {
    width: 200px;
    background-color: #283593;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #3949ab;
}
#select-all-districts {
    margin-bottom: 10px;
    cursor: pointer;
}

#select-all-districts + label {
    font-weight: bold;
    color: #004080; /* رنگ آبی تیره */
}

#districts-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* چک‌باکس‌ها به‌صورت عمودی چیده می‌شوند */
    gap: 5px; /* فاصله بین چک‌باکس‌ها */
}

/* محتوای اصلی */
.content {
    flex: 1;
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* استایل بخش ولایات */
.province-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #e8eaf6;
    border-radius: 8px;
    max-width: 400px;
}

#provinceSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #c5cae9;
    border-radius: 4px;
    background-color: #ffffff;
}

.districts {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #c5cae9;
    border-radius: 4px;
}

.districts.hidden {
    display: none;
}

#districtsList label {
    display: block;
    margin-bottom: 5px;
}
